*{
    margin: 0 auto;
    box-sizing: border-box;
}

.bg{
    height: 100vh;
    background-image: url(../image/background.png);
    background-position: center;
    background-size: cover;
}

.topbar{
    background: transparent;
    backdrop-filter: blur(5px);
}

.speaceline{
    width: 100%;
    height: 10px;   
}

.sp{
    margin-right: 150px;
}

.text{
    width: 520px;
    height: auto;
    font-weight: 900;
    font-size: 30px;
}

.HLCA{
    color: aliceblue;
    width: 200px;
    height: auto;
    font-size: 900;
    font-size: 23px;
    cursor: pointer;
}

.home{
    padding: 10px;
}

.d-inline-block{
    display: inline-block;
}

.marquee{
    font-size: 20px;
    color: aliceblue;
    padding: 5px;
}